<ion-view>
	<ion-content class="login">
		<div class="logo-container">
			<img style="width: 120px; height: 120px; margin-left: auto; margin-right: auto; display: block" src="img/logo.png">
		</div>
	</ion-content>
	<div style="position: absolute; bottom: 0px; width: 100%">
        <div class="login-button-container">
        	<div class="row">
				<div class="col">
					<button class="button button-block button-dark signin" ng-click="openModal()">
						Sign in
					</button>
        		</div>
        	</div>
			<div class="row">
				<div class="col">
					<button class="button button-block button-dark signin" ng-click="openModalSignup()">
						Sign up
					</button>
        		</div>
        	</div>
        </div>
    </div>
</ion-view>