<ion-view title="Plug-pin Code" class="plug-pin-bg">
    <ion-content>
        <div class="row pin-code">
            <input class="pin" type="password" maxlength=1 id="a" onkeyup="moveOnMax(this,'b')" />
            <input class="pin" type="password" maxlength=1 id="b" onkeyup="moveOnMax(this,'c')" />
            <input class="pin" type="password" maxlength=1 id="d" onkeyup="moveOnMax(this,'c')" />
            <input class="pin" type="password" maxlength=1 id="d" onkeyup="moveOnMax(this,'c')" />
            <input class="pin" type="password" maxlength=1 id="e" />
            <button class="button button-block button-karma" ng-click="openModal()">
                Submit
            </button>
        </div>
    </ion-content>
</ion-view>